################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpIntermediate/.vs
/CSharpIntermediate/obj
/CSharpIntermediate/bin
/HackerRankProblems/obj
/HackerRankProblems/.vs
/HackerRankProblems/bin
/Polymorphism/obj
/Polymorphism/.vs
/Polymorphism/bin
