################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpIntermediate/.vs/CSharpIntermediate/v15
/CSharpIntermediate/obj/Debug
/CSharpIntermediate/CSharpIntermediate.sln
